<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.danielaguileraandroid2019">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
            android:name="android.permission.USE_BIOMETRIC"
            android:requiredFeature="false" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label= "@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".HttpGet"></activity>
        <activity android:name=".Login" />
        <activity android:name=".SharedPreferences" />
        <activity android:name=".ShakeActivity" />
        <activity
                android:name=".SplashScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Playground" />
        <activity android:name=".DialogManagement" />
        <activity android:name=".Dialog" />
        <activity android:name=".TemperatureConversion" />
        <activity android:name=".TimeFighter" />
        <activity android:name=".HelloWorld" />
        <activity android:name=".MainActivity" />
        <activity
                android:name=".Imc"
                android:screenOrientation="fullSensor"
                tools:replace="screenOrientation" />
    </application>

</manifest>